.title, h1, h2, h3, p, ul {
    margin: 1% 2% 1% 2%;
}

h3 {
    color: #88cdf5;
    text-shadow:1px 1px 3px #2badf8;
}

.divider-horizontal {
    width: 95%;
    height: 4px;
    background-color: #2badf8;
    border-radius: 10px;
    box-shadow: 0 0 15px #2badf8, 0 0 10px #f433ff;
    margin: 2%;
}

.separation-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.bb-experience ul {
    width: 100%;
    list-style-type: none;
}

.bb-experience li {
    color: white;
    width: 95%;
    text-indent: -1em;
    padding-left: 2em;

    &::before {
        content: "*";
        display: inline-block;
        width: 1em;
    }
}

.typing {
    overflow: hidden;
    white-space: nowrap;
    animation: typing-animation 2s steps(40, end);
  }
  
  @keyframes typing-animation {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }