// Popup.scss
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: black;
    border-color: #2badf8;
    border-style: solid;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  
    .buttons {
      display: flex;
      gap: 20px;
      flex-direction: row;
    }

    a {
      padding: 10px 15px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      color: white;
      transition: background-color 0.2s;
        text-decoration: none;

      &.b1 {
        background-color: #88cdf5;
        box-shadow: 0 0 10px #2badf8;

        &:hover {
            background-color: #2badf8;
          }
      }

      &.b2 {
        background-color: #f799fc;
        box-shadow: 0 0 10px #f433ff;

        &:hover {
            background-color: #f433ff;
          }
      }
    }
  }
  