p {
      color: white;
  }
  
  @font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }

.griffin {
    flex: 1 1;
    font-family: neon;
    color: #2badf8;
    font-size: 5vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2badf8;
    animation: glow-blue 4s infinite;

    @keyframes glow-blue {
        0%,
        100% {
            text-shadow: 0 0 1vw #2693d2, 0 0 3vw rgb(18, 126, 198), 0 0 10vw #2fa1e3, 0 0 10vw #2bf1f8, 0 0 .4vw #2bf8a9, .5vw .5vw .1vw #842bf8;
            color: #2badf8;
        }
        50% {
            text-shadow: 0 0 .5vw #1e71a2, 0 0 1.5vw rgb(14, 95, 149), 0 0 5vw #1c5e84, 0 0 5vw #188b8f, 0 0 .2vw #16885c, .5vw .5vw .1vw #39126d;
            color: #1f7bb1;
        }
    }
}

.portfolio {
    flex: 1 1;
    justify-content: center;
    font-family: neon;
    color: #f433ff;
    font-size: 10vw;
    line-height: 10vw;
    text-shadow: 0 0 3vw #f433ff;
    animation: glow-pink 3s infinite;

    @keyframes glow-pink {
        0%,
        100% {
            text-shadow: 0 0 1vw #2693d2, 0 0 3vw rgb(18, 126, 198), 0 0 10vw #2fa1e3, 0 0 10vw #2bf1f8, 0 0 .4vw #2bf8a9, .5vw .5vw .1vw #842bf8;
            color: #f433ff;
        }
        50% {
            text-shadow: 0 0 .5vw #1e71a2, 0 0 1.5vw rgb(14, 95, 149), 0 0 5vw #1c5e84, 0 0 5vw #188b8f, 0 0 .2vw #16885c, .5vw .5vw .1vw #39126d;
            color: #8f1e95;
        }
    }
}

.col-top {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    flex-direction: column;
    padding: 20px;
}

.col-bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    align-items: flex-end;
}