@import '../resources/fonts/JoystixMonospace-Regular/stylesheet';

@font-face {
  font-family: 'Designer Block';
  font-style: normal;
  font-weight: normal;
  src: local('Designer Block'), url('../resources/fonts/DesignerBlock/DESIB___.woff') format('woff');
  }

$blueish: #2badf8;
$hotpink: #f433ff;

$bsec: #88cdf5;
$psec: #f799fc;

$bthird: #1b6d9d;


body {
  background: url('../resources/images/cyberpunk.jpg');
  // font-family: 'Designer Block';
  font-family: 'JoystixMonospace-Regular';
}

h1, h2, h3, p {
  color: white;
  display: flex;
}

span {
  display: inline;
}